
<div class="row" *ngIf="sessionService.user">

    
      <!-- <h1>{{sessionService.user.username}}</h1> -->
      <!-- <a [routerLink]="['/offer']" class="btn btn-primary">Search professionals</a>
      <a [routerLink]="['/user/edit']" class="btn btn-primary">Edit your profile</a>
  -->
 <div *ngIf="sessionService.user.isProf" class="col-md-12">
   
   <div class="row">

      <div class="col-xs-6">
        <img [src]="fullImagePath">
        
      </div>
      <div class="col-xs-6">
        <h2 class="hello" >Hello {{sessionService.user.username}}!</h2>
        <a [routerLink]="['/offer/new']" class="btn btn-secondary btn-home">Edit your professional profile</a>
        <a [routerLink]="['/hire/list']" class="btn btn-secondary btn-home">Pending messages</a>
      </div>
    </div>
    
</div>
  
</div>
  
  <div *ngIf="!sessionService.user" class="col-md-12">
    
      <div class="row"> 

          <div class="col-xs-12">
              <img [src]="fullImagePath">
          </div>

          <div class="text-center">
            <h1>ManitApp</h1>
            <h3>Perfect solution to find local</h3> 
            <h3>professionals close to your home</h3>
          </div>
      </div>
      
    <!-- <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a> -->
  </div>


  <div>
  

