<div class="row" *ngIf="sessionService.user">

    <div class="col-md-7">
      <!-- <h1>{{sessionService.user.username}}</h1> -->
      <!-- <a [routerLink]="['/offer']" class="btn btn-primary">Search professionals</a>
      <a [routerLink]="['/user/edit']" class="btn btn-primary">Edit your profile</a>
  -->
 <div *ngIf="sessionService.user.isProf">
   <h3>Hello {{sessionService.user.username}}!</h3>
    <div class="imgProfileHome">
        <img height="300" [src]="sessionService.user.imgProfile" />
      </div>
    </div>
    <a [routerLink]="['/offer/new']" class="btn btn-primary">Edit your professional profile</a>
</div>
    <div class="col-md-5 text-right">
     
     

    

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

    </div>

  </div>
  <div *ngIf="!sessionService.user" class="col-md-12">
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>
  </div>


  <div>
  

