<div *ngIf="!sessionService.user" id="home">
    
    <div class="row"> 

       

        <div class="col text-center intro-text">
          <h1 class="manitapp">ManitApp</h1>
          <h3>Perfect solution to find local</h3> 
          <h3 class=" intro-textcomplete">professionals close to your home</h3>
        </div>

    </div>

    </div>


    <div  *ngIf="sessionService.user">



    <div class="row">
      <div *ngIf=sessionService.user.isProf id="home">
        

        <div class="text-center">
          
      <!-- <h1>Hello {{sessionService.user.username}}</h1> -->

      <div class="col-xs-6 links-home">
          <!-- <h2 class="hello" > {{sessionService.user.username}}!</h2> -->
          <a [routerLink]="['/offer/new']" class="btn btn-secondary btn-home">Edit your professional profile</a>
          <a [routerLink]="['/hire/list']" class="btn btn-secondary btn-message">Pending messages</a>
        </div>


          </div>
          </div>
</div>
</div>

<div *ngIf="sessionService.user">
<div  *ngIf="!sessionService.user.isProf" id="home">

    <div class="row">
     
        
      


        <!-- <div class="text-center">
      <h1>Hello {{sessionService.user.username}}</h1>
          </div> -->
          </div>
</div>
</div>



<!-- <div *ngIf="sessionService.user.isProf" class="col-md-12">
   
    <div class="">
 
       
       
         
         <a [routerLink]="['/offer/new']" class="btn btn-secondary btn-home">Edit your professional profile</a>
         <a [routerLink]="['/hire/list']" class="btn btn-secondary btn-home">Pending messages</a>
       
     </div>
     
 </div>
   -->

