<p>
  home works!
</p>


<div class="container">

  <div class="row" *ngIf="sessionService.user">

    <div class="col-md-7">
      <h1>{{sessionService.user.username}}</h1>
      <a [routerLink]="['/offer']" class="btn btn-primary">Search professionals</a>
      <a [routerLink]="['/user']" class="btn btn-primary">Edit your profile</a>
    <!-- <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a> -->
    </div>
    <div class="col-md-5 text-right">
      <!-- <a [routerLink]="['/threads/new']">New Thread</a> -->
      <button (click)="sessionService.logout().subscribe()" class="btn btn-primary">Logout</button>

      <h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

    </div>

  </div>
  <div *ngIf="!sessionService.user" class="col-md-12">
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>
  </div>


  <div>
  <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
