.navbar{
    background-color: rgb(240, 239, 239) !important;
}
.nav-title{
    font-size: 2.5em;
    text-decoration: none;
    color: #1A4484;
}
.nav-link{
    font-size: 1em;
    a{
    color: #1A4484;
    }
}
.fas{
    margin-right: 5px;
}
.fa-heart{
    color: red;
}
.navbar-brand{
    font-size: 1.5em;
    color: rgb(78, 82, 88);
}