

<nav class="navbar fixed-top navbar-light bg-light">
  <a [routerLink]="['/home/']">
    <i class="fas fa-paw"></i><span style= "color:black; font-size: 26px"> ManitApp</span></a>

  


  <div *ngIf="currentUser">
     <span class="name">{{currentUser.username | uppercase}}</span>
    <a class="navbar-brand" [routerLink]="['/user/edit/']">
      <i class="fas fa-user"></i>Edit profile</a>
    <a class="navbar-brand" [routerLink]="['/offer/']">
      <i class="fas fa-heart"></i>Find workers</a>
    <a class="navbar-brand" (click)="logout()">
      <i class="far fa-sign-out"></i>Log out</a>
  </div>
  <div *ngIf="!currentUser">
    <a class="navbar-brand" [routerLink]="['/signup/']">Sign up</a>
    <a class="navbar-brand" [routerLink]="['/login/']">Log in</a>
  </div>

</nav>
